<footer>
    <p>&copy; Morfidon. All rights reserved.</p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/arkadiusz-w%C5%82odarczyk-99ab03141/" target="_blank" rel="noopener noreferrer"><svg class="icon" viewBox="0 0 24 24" aria-hidden="true"><path d="M6.4 8.8V21H2.7V8.8h3.7Zm.2-3.8a2.2 2.2 0 1 1-4.4 0 2.2 2.2 0 0 1 4.4 0ZM21.3 14v7h-3.7v-6.4c0-1.5-.5-2.5-1.8-2.5-1 0-1.6.7-1.9 1.4-.1.2-.1.6-.1.9V21h-3.7s.1-10.6 0-11.7h3.7v1.7c.5-.8 1.5-1.9 3.6-1.9 2.6 0 4.6 1.7 4.6 5.1Z" fill="currentColor"/></svg>LinkedIn</a>
        <a href="https://www.youtube.com/@GameDevForNoobs" target="_blank" rel="noopener noreferrer"><svg class="icon" viewBox="0 0 24 24" aria-hidden="true"><path d="M21.6 7.2a2.8 2.8 0 0 0-2-2c-1.8-.5-7.6-.5-7.6-.5s-5.8 0-7.6.5a2.8 2.8 0 0 0-2 2C2 9 2 12 2 12s0 3 .4 4.8a2.8 2.8 0 0 0 2 2c1.8.5 7.6.5 7.6.5s5.8 0 7.6-.5a2.8 2.8 0 0 0 2-2c.4-1.8.4-4.8.4-4.8s0-3-.4-4.8ZM10.1 15.5V8.5L16 12l-5.9 3.5Z" fill="currentColor"/></svg>YouTube</a>
    </div>
</footer>
